@use '../utils/variables' as *;
@use '../utils/mixins' as *;

input {
  height: 40px;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--color-accent);
  padding: 10px;
  border-radius: 0px;
  font-size: 15px;
  color: var(--color-secondary);
  background: var(--color-primary);

  @include respond-to(mobile) {
    max-width: 100%;
  }
}

::placeholder {
  color: var(--color-text-muted);
}
.form label {
  flex: 1; // растягивает label на всю ширину
}

